*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}
@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.bg-naranja {
    background-color: $naranja;
  }
  
  .text-naranja {
    color: $naranja;
  }
  
  .bg-blanco {
    background-color: $blanco;
  }
  
  .text-blanco {
    color: $blanco;
  }

  .bg-morado {
    background-color: $morado;
  }
  
  .text-morado {
    color: $morado;
  }

  .weight-600{
    font-weight: 600;
  }
  
  .weight-700{
    font-weight: 700;
  }
  .fs-18{
    font-size: 18px;
  }

  .fs-20{
    font-size: 20px;
  }