@import "color";
@import "reset";

header {
  .navbar {
    .navbar-brand {
      img {
        width: 180px;
        height: 60px;
        background: transparent;
      }
    }
    .navbar-collapse {
      flex-grow: 0;

      .navbar-nav {
        .nav-item {
          padding: 0 0.5rem;
          .nav-link {
            font-weight: 600;
            font-size: 1.3rem;
            color: $blanco;
            transition: color 0.4s;

            &:hover {
              color: $active;
            }
          }

          .active {
            color: $active;
          }
        }
        .dropdown {
          .dropdown-menu {
            background-color: $active;
            transform: translateX(-25%);
            min-width: 0;

            .dropdown-item {
              font-weight: 600;
              font-size: 1.3rem;
              color: $blanco;
              transition: color 0.3s;

              &:hover {
                background-color: $active !important;
                color: $naranja !important;
              }
            }
          }
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
    .btn-search {
      font-weight: 600;
      font-size: 2rem;
      color: $blanco;
      transition: color 0.3s;

      &:hover {
        color: $active;
      }
    }
  }
}

section#guarantee {
  .card-guarantee {
    padding: 5rem 0;
    .guarantee-heading {
      font-family: "Montserrat", sans-serif;
      font-size: 4rem;
      font-weight: 900;
    }

    .guarantee-footer {
      .special-btn {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 18px;
        transition: all 0.3s;

        &:hover {
          scale: 1.1;
        }
      }
      .btn-jumbotron {
        background-color: $active;
        border-radius: 20px 20px 20px 20px;
        color: $blanco;
        font-weight: 500;

        &:hover {
          background-color: $naranja;
        }
      }

      .btn-outline {
        color: $naranja;

        &:hover {
          color: $active;
        }
      }
    }
  }

  .figth-card {
    margin: 3rem 0;

    .fight-body {
      width: 100%;
      background-color: $active;
      border-radius: 10%;
      position: relative;
      box-shadow: -1px 20px 0px 0px $naranja;
      -webkit-box-shadow: -1px 20px 0px 0px $naranja;
      -moz-box-shadow: -1px 20px 0px 0px $naranja;
      transform: scale(1.1) translateX(-10%);
      

      & > img.fight-image {
        transform: translate(-2%, -30%);
        width: 100%;
      }
      & > .fight-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 50px;
        border-radius: 40% 0% 100% 0%;
        background-color: $naranja;
      }
    }
  }
}