* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap");
  font-family: "Montserrat", sans-serif;
}
.bg-naranja {
  background-color: #FF963C;
}

.text-naranja {
  color: #FF963C;
}

.bg-blanco {
  background-color: #fff;
}

.text-blanco {
  color: #fff;
}

.bg-morado {
  background-color: #A017D7;
}

.text-morado {
  color: #A017D7;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

header .navbar .navbar-brand img {
  width: 180px;
  height: 60px;
  background: transparent;
}
header .navbar .navbar-collapse {
  flex-grow: 0;
}
header .navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0 0.5rem;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  transition: color 0.4s;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #530075;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .active {
  color: #530075;
}
header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  background-color: #530075;
  transform: translateX(-25%);
  min-width: 0;
}
header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  transition: color 0.3s;
}
header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #530075 !important;
  color: #FF963C !important;
}
header .navbar .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
header .navbar .btn-search {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  transition: color 0.3s;
}
header .navbar .btn-search:hover {
  color: #530075;
}

section#guarantee .card-guarantee {
  padding: 5rem 0;
}
section#guarantee .card-guarantee .guarantee-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
}
section#guarantee .card-guarantee .guarantee-footer .special-btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 18px;
  transition: all 0.3s;
}
section#guarantee .card-guarantee .guarantee-footer .special-btn:hover {
  scale: 1.1;
}
section#guarantee .card-guarantee .guarantee-footer .btn-jumbotron {
  background-color: #530075;
  border-radius: 20px 20px 20px 20px;
  color: #fff;
  font-weight: 500;
}
section#guarantee .card-guarantee .guarantee-footer .btn-jumbotron:hover {
  background-color: #FF963C;
}
section#guarantee .card-guarantee .guarantee-footer .btn-outline {
  color: #FF963C;
}
section#guarantee .card-guarantee .guarantee-footer .btn-outline:hover {
  color: #530075;
}
section#guarantee .figth-card {
  margin: 3rem 0;
}
section#guarantee .figth-card .fight-body {
  width: 100%;
  background-color: #530075;
  border-radius: 10%;
  position: relative;
  box-shadow: -1px 20px 0px 0px #FF963C;
  -webkit-box-shadow: -1px 20px 0px 0px #FF963C;
  -moz-box-shadow: -1px 20px 0px 0px #FF963C;
  transform: scale(1.1) translateX(-10%);
}
section#guarantee .figth-card .fight-body > img.fight-image {
  transform: translate(-5%, -30%);
  width: 100%;
}
section#guarantee .figth-card .fight-body > .fight-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */